[submodule "htdocs/custom/mlpropaleaddon"]
	path = htdocs/custom/mlpropaleaddon
	url = https://github.com/mainlab-srl/mlpropaleaddon.git
	branch = develop
[submodule "htdocs/custom/mldeadlines"]
	path = htdocs/custom/mldeadlines
	url = https://github.com/mainlab-srl/mldeadlines.git
	branch = develop
[submodule "htdocs/custom/mlriba"]
	path = htdocs/custom/mlriba
	url = https://github.com/mainlab-srl/mlriba.git
[submodule "mlimportproduct"]
	path = mlimportproduct
url=https://github.com/mainlab-srl/mlimportproduct.git