[submodule "htdocs/custom/mlpropaleaddon"]
	path = htdocs/custom/mlpropaleaddon
	url = https://github.com/mainlab-srl/mlpropaleaddon.git
	branch = develop
[submodule "htdocs/custom/mldeadlines"]
	path = htdocs/custom/mldeadlines
	url = https://github.com/mainlab-srl/mldeadlines.git
	branch = develop
[submodule "htdocs/custom/mlriba"]
	path = htdocs/custom/mlriba
	url = https://github.com/mainlab-srl/mlriba.git
[submodule "htdocs/custom/mlimportproduct"]
	path = htdocs/custom/mlimportproduct
	url = https://github.com/steve-agl/mlimportproduct-.git
[submodule "htdocs/custom/mltransactionrefs"]
	path = htdocs/custom/mltransactionrefs
	url = https://github.com/mainlab-srl/mltransactionrefs.git
	branch = develop
